*{
    margin:0;
    padding: 0;
}
.header{
    display: inline-flex;
    /* width: 100%; */
    background: #242526;
    /* display: inline; */
}
.botton{width: 100%;border-bottom: 2px dashed #0c0c0c;}

.me{
    padding: 5px;
}

.logo{
    padding-right: 20px;
    .icono{
        & img{
            width: 10pc;
            background-color: transparent;
        }
    }
}
.buscare{
    padding-top: 8px;
    & form input{
        border-radius: 50px;
        padding: 10px;
        width: 25pc;
        background: #323333;
        border: 0px solid #323333;
    }
    & form button{
        background: #323333;
        border: 0px solid #242526;
        position: relative;
        color: #fff;
        right: 30px;
    }
}
.ops{
    
}
.icon {
    & svg{
        width: 40px; height: 30px;
    }
    & h1{
        font-size: 15px;
        color: #fff;
        font-family: arial;
    }
    padding-top: 10px;
    padding-left: 3pc;
}
header{
    position: fixed;
    top: 0;
    width:100%;

}
.header{padding:0.4rem}
.box{display: inline-flex;}
 /* diseños especiales */
.me{display: inline-flex;}
input{color: #fff; font-size: 15px; font-family:Verdana, Geneva, Tahoma, sans-serif Arial;}
input:focus{outline: none;}


@media screen and (max-width:600px ){
    .header{
        display: block;
        & .me{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    ;
        padding: 0.1rem;
    }
    .logo{
        padding-right: 20px;
        .icono{
            & img{
                margin: 0px;
                width: 114px;
                height: 38px;
            }
        }
    }
    .icon{
        display: inline-flex;
        & svg{
            width: 1.4rem; height: 1rem;
        }
        & h1{
            font-size: 13px;
        }
    }
}
