*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    background: #212124;
}
  main{
    padding-top: 6pc;
  }
.container{
    padding: 10px 0 45px 80px;
}
.container p{
    font-family: tahoma;
    color: #646664;
    font-weight: bold;
    margin-bottom: 30px;
    width: 100%;
}

.area-resultados{
    width: 50%;
    justify-content: center;
    align-items: center;
}
.resultados{
    display: flex;
    flex-direction: column;
}
.paret{
    border: 3px dashed #666;
    margin-bottom: 2rem;
    border-radius: 1em;
    padding: 10px;
}
.link-accesso a{
    text-decoration: none;
    color: #969996;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
}
 .dados-resultados h2 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: tahoma;
    font-weight: bold;
    color:rgb(101, 101, 212);
 }
 
 .dados-resultados h2 a:hover{
    text-decoration: underline;
 }
 .dados-resultados p{
    color: #646664;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
 }

 .muestra-resultados{
    width: 50%;
 }
 @media screen and (max-width: 800px) {
    main{
        padding-top: 10.3pc;
    }
    .container{
        padding: 0;
        & >p{
         padding-left:20px;
        }
    }
    .container p{
        font-family: tahoma;
        color: #f5f5f5;
        font-weight: bold;
        width: 100%;
    }
    .area-resultados{
        width: 100%;
    }
}

 @media screen and (max-width:600px ){
    main{
        padding-top: 10.3pc;
    }
    .container{
        padding: 0;
        & >p{
         padding-left:20px;
        }
    }
    .container p{
        font-family: tahoma;
        color: #f5f5f5;
        font-weight: bold;
        width: 100%;
    }
    .area-resultados{
        width: 100%;
    }
 }

